<div class="flex-container">
    <div class="container-inside">
        <div class="items">
            <div class="items-1">
                <a href="#">
                    <div class="a-img">
                        <div class="img-class">
                            <img src="../../../../../assets/Grocery.webp" alt="">
                        </div>
                    </div>
                    <div class="bottom-text">
                        Grocery
                    </div>
                </a>
            </div>
            <div class="items-1">
                <a href="#">
                    <div class="a-img">
                        <div class="img-class">
                            <img src="../../../../../assets/Mobiles.webp" alt="">
                        </div>
                    </div>
                    <div class="bottom-text">
                        Mobiles
                    </div>
                </a>
            </div>
            <div class="items-1">
                <a href="#">
                    <div class="a-img">
                        <div class="img-class">
                            <img src="../../../../../assets/Fashion.webp" alt="">
                        </div>
                    </div>
                    <div class="bottom-text main-dropdown">
                        Fashion
                        <div class="dropdown-content">
                            <div class="sub-dropdown" *ngFor="let content of DropDownMainContent | keyvalue">
                                <button class="sub-dropbtn">{{content.key}}</button>
                                <div class="sub-dropdown-content">
                                    <a href="#" *ngFor="let value of content.value">{{value}}</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </a>

            </div>
            <div class="items-1">
                <a href="#">
                    <div class="a-img">
                        <div class="img-class">
                            <img src="../../../../../assets/Techn.webp" alt="">
                        </div>
                    </div>
                    <div class="bottom-text">
                        Electronics
                    </div>
                </a>
            </div>
            <div class="items-1">
                <a href="#">
                    <div class="a-img">
                        <div class="img-class">
                            <img src="../../../../../assets/Furniture.webp" alt="">
                        </div>
                    </div>
                    <div class="bottom-text">
                        Home & Furniture
                    </div>
                </a>
            </div>
            <div class="items-1">
                <a href="#">
                    <div class="a-img">
                        <div class="img-class">
                            <img src="../../../../../assets/Appliance.webp" alt="">
                        </div>
                    </div>
                    <div class="bottom-text">
                        Appliances
                    </div>
                </a>
            </div>
            <div class="items-1">
                <a href="#">
                    <div class="a-img">
                        <div class="img-class">
                            <img src="../../../../../assets/Beauty.webp" alt="">
                        </div>
                    </div>
                    <div class="bottom-text">
                        Beauty,Toys & More
                    </div>
                </a>
            </div>
            <div class="items-1">
                <a href="#">
                    <div class="a-img">
                        <div class="img-class">
                            <img src="../../../../../assets/Flights.webp" alt="">
                        </div>
                    </div>
                    <div class="bottom-text">
                        Flights
                    </div>
                </a>
            </div>
            <div class="items-1">
                <a href="#">
                    <div class="a-img">
                        <div class="img-class">
                            <img src="../../../../../assets/Two-wheelers.webp" alt="">
                        </div>
                    </div>
                    <div class="bottom-text">
                        Two Wheelers
                    </div>
                </a>
            </div>
        </div>
    </div>

    <app-carosuel [images]="images" [autoslide]="true"></app-carosuel>
    <br><br>
</div>
<div class="flex-container">
    <div class="row">
        <div class="col-2">
            <div class="card card-style">

                <div class="card-body">
                    <h1 class="card-title side-title">Best of Electronics</h1>

                    <a href="#" class="side-img"><button class="btn btn-primary" style="margin-left: 70px;">
                        View All
                    </button><img src="../../../../../assets/side-img.webp" alt=""></a>
                </div>
            </div>
        </div>
        <div class="col-8" style="position:relative">

            <div class="slider-container">
                <div class="product-card" *ngFor="let product of products">
                    <img [src]="product.imageUrl" alt="{{ product.name }}" />
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card card-style-left">

                <div class="card-body" style="flex:0 !important">
                    <a href="#" class="side-tile-left">
                        <img class="side-title-left-img" src="../../../../../assets/side-flight.webp" alt=""></a>
                </div>
            </div>
        </div>

    </div>
</div>