<footer class="flipkart-footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-logo">
                <!-- Your logo or branding -->
                <img src="../../../assets/flipkart-logo.png" alt="Your Logo">
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <!-- Social media icons or links -->
                <a href="#"><i class="fa-brands fa-facebook" style="color: #e0f5f8;"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter" style="color: #e6e6e6;"></i></a>
                <a href="#"><i class="fa-brands fa-instagram" style="color: #eeeff1;"></i></a>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="copyright">
                &copy; 2023 Your Website. All rights reserved.
            </div>
            <div class="payment-methods">
                <!-- Payment icons or links -->
                <i class="fa-brands fa-cc-visa" style="color: #ecedef;"></i>
                <i class="fa-brands fa-cc-mastercard" style="color: #e9ecf1;"></i>
                <i class="fa-brands fa-paypal" style="color: #f3f6fb;"></i>
            </div>
        </div>
    </div>
</footer>