<div class="flex-container row">
    <div class="col-7">
        <mat-accordion>
            <mat-expansion-panel hideToggle #panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="row">
                            <div class="col-3 login-details">
                                <h1>LOGIN</h1>
                                <i class="fa-solid fa-check"></i>
                            </div>

                        </div>
                    </mat-panel-title>
                    <mat-panel-description>
                        <div class="col-9 change-button">
                            <button class="submit" (click)="panel.expanded = !panel.expanded">Change</button>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Self aware panel
                    </mat-panel-title>
                    <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="col-5"></div>
</div>