<div class="flex-container">
    <div class="row">
        <div class="col-6">
            <div class="container">
                <div class="box">
                    <div class="side">
                        <div class="slide-box">
                            <ul>
                                <li *ngFor="let prod of imageArrayToDisplay; let i=index">
                                    <div class="inside">
                                        <div class="inside-li">
                                            <img [src]="prod" alt="" (mouseout)="mouseOverEvent($event,prod,i)" [ngClass]="{'active':selectedIndex ===i}"> {{i}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <button #prev class="btn-primary btn-prev" (click)="prevClick()">Prev</button>
                            <button #next class="btn-success btn-next" (click)="nextClick()">Next</button>
                        </div>
                    </div>
                    <div class="bigger-box">
                        <div class="enlarge-box">
                            <div class="image-box">
                                <ul>
                                    <li>
                                        <div class="inside-img-box">
                                            <div class="inside-li">
                                                <img style="left:53%" [src]="imageSrc" alt="">
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                                <div class="add-highlights">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                            </div>
                            <div class="buttons row">
                                <div class="col-6" style="position: relative;">
                                    <div class="cart-button">

                                        <div class="cart-button-details">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span>ADD TO CART</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="buy-button">
                                        <div class="buy-button-details">
                                            <i class="fa-solid fa-bolt-lightning"></i>
                                            <span>BUY NOW</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="header">
                <div>
                    <h1><span class="header-span">Infinix Note 30 5G (Sunset Gold, 128 GB) (4 GB RAM)</span></h1>

                </div>
                <div>
                    <div class="rating">
                        <div class="rating-inside">
                            <span>
                                <div>4.2
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </span>
                            <span class="review">
                                <span>
                                    <span>
                                        2,688 Ratings &
                                    </span>
                            <!-- <span class="and">&</span> -->
                            <span>303 Reviews</span>
                            </span>
                            </span>

                        </div>
                        <span>
                            <img src="../../../assets/fassured.png" alt="">
                        </span>

                    </div>
                    <div>
                        <span>
                            <span class="Extra-offer">
                                Extra <i class="fa-solid fa-indian-rupee-sign"></i> 3000 off
                            </span>
                        </span>
                    </div>
                    <div class="price">
                        <div>
                            <h1><i class="fa-solid fa-indian-rupee-sign"></i> <span>14,999</span></h1>
                            <span class="old-price">17,999</span>
                            <span class="off">&nbsp;16% Off</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bank-offer">
                <div class="bank-offer-header">
                    <div class="boh-in">
                        Available Offers
                    </div>
                    <div class="boh1">
                        <div class="boh2">
                            <div class="boh3">
                                <span class="boh3-span">
                                    <img src="../../../assets/offer-point.webp" alt="">
                                <li>
                                    <span>Bank Offer</span>
                                <span>5% Cashback on Flipkart Axis Bank Credit Card</span>
                                </li>
                                </span><span class="boh3-span">
                                    <img src="../../../assets/offer-point.webp" alt="">
                                <li>
                                    <span>Bank Offer</span>
                                <span>5% Cashback on Flipkart Axis Bank Credit Card</span>
                                </li>
                                </span><span class="boh3-span">
                                    <img src="../../../assets/offer-point.webp" alt="">
                                <li>
                                    <span>Bank Offer</span>
                                <span>5% Cashback on Flipkart Axis Bank Credit Card</span>
                                </li>
                                </span><span class="boh3-span">
                                    <img src="../../../assets/offer-point.webp" alt="">
                                <li>
                                    <span>Bank Offer</span>
                                <span>5% Cashback on Flipkart Axis Bank Credit Card</span>
                                </li>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="brand-color">
                <div class="brand">
                    <div>
                        <div>
                            <img src="../../../assets/infinix.webp" alt="Infinix">
                        </div>
                    </div>
                </div>
                <div class="warranty">
                    <div>
                        1 Year on Handset and 6 Months on Accessories
                    </div>
                </div>
            </div>
            <div class="crs">
                <div class="crs-in">
                    <div class="crs-in-f col col-6-12">
                        <div class="clr">
                            <span>Color</span>
                        </div>
                        <div class="p-icon">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div>
                                            <img src="../../../assets/Product/p1.webp" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <img src="../../../assets/Product/p1.webp" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <img src="../../../assets/Product/p1.webp" alt="">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="storage-">
                    <div class="storage-in col col-6-12">
                        <div class="storage">
                            <span>Storage</span>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <a href="/?22" coords="338,43,61,21" onclick="return false;">
                                            128 GB
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                            256 GB
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="crs-in">
                    <div class="crs-in-f col col-6-12">
                        <div class="clr">
                            <span>RAM</span>
                        </div>
                        <div class="ram">

                            <div>
                                <ul>
                                    <li>
                                        <a href="/?22" coords="338,43,61,21" onclick="return false;">
                                                6 GB
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                                8 GB
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="delivery">
                <div class="dev-name">
                    <span>Delivery</span>
                </div>
                <div class="del-input">

                    <i class="fa-solid fa-location-dot" style="color: #2874F0;"></i>
                    <input placeholder="Enter Delivery Pincode" type="text">
                    <span>Change</span>
                </div>
            </div>
            <div class="HES row">
                <div class="Highlights col-6">
                    <div class="high-name">
                        <span>Highlights</span>
                    </div>
                    <div>
                        <ul class="high-details">
                            <li>8 GB RAM | 256 GB ROM | Expandable Upto 2 TB</li>
                            <li>17.22 cm (6.78 inch) Full HD+ Display</li>
                            <li>108 MP + 2 MP+ AI Lens | 16MP Front Camera</li>
                            <li>5000 mAh Li-ion Polymer Battery</li>
                            <li>Dimensity 6080 Processor</li>
                        </ul>
                    </div>
                </div>
                <div class="Easy col-6">
                    <div class="high-name">
                        <span>Easy Payment Options</span>
                    </div>
                    <div>
                        <ul class="high-details">
                            <li>8 GB RAM | 256 GB ROM | Expandable Upto 2 TB</li>
                            <li>17.22 cm (6.78 inch) Full HD+ Display</li>
                            <li>108 MP + 2 MP+ AI Lens | 16MP Front Camera</li>
                            <li>5000 mAh Li-ion Polymer Battery</li>
                            <li>Dimensity 6080 Processor</li>
                        </ul>
                    </div>
                </div>
                <div class="Seller col-12">
                    <div class="high-name">
                        <span>Seller</span>
                    </div>
                    <div>
                        <ul class="high-details">
                            <li>8 GB RAM | 256 GB ROM | Expandable Upto 2 TB</li>
                            <li>17.22 cm (6.78 inch) Full HD+ Display</li>
                            <li>108 MP + 2 MP+ AI Lens | 16MP Front Camera</li>
                            <li>5000 mAh Li-ion Polymer Battery</li>
                            <li>Dimensity 6080 Processor</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="protection">
                <div>
                    <div class="protect-header">
                        <span>Protect your product</span>
                    </div>
                    <div class="banner">
                        <div class="form-check">
                            <div class="protect-img-check">
                                <input class="form-check-input" type="checkbox" [value]="200" (change)="changeEvent($event)" id="flexCheckDefault">
                                <img src="../../../assets/complete_protection.webp" alt="">
                            </div>
                            <div class="protect-details">
                                <label class="form-check-label" for="flexCheckDefault">
                                Complete Mobile Protection
                        </label>
                                <span>Get brand authorised repairs for all phone damages with free pickup
                                 and drop. If we can't repair it, we will replace it! <span class="know-more"> Know More </span></span>

                                <span class="save-more">Save more than Rs 15,000 in repairs</span>
                                <div class="price-drop">
                                    <span class="new-price">399</span>
                                    <span class="old-price-protect">899 &nbsp;</span>
                                    <span class="off protect-off">&nbsp;16% Off</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="banner">
                        <div class="form-check">
                            <div class="protect-img-check">
                                <input class="form-check-input" type="checkbox" [value]="200" (change)="changeEvent($event)" id="flexCheckDefault">
                                <img src="../../../assets/Extend_warranty.webp" alt="">
                            </div>
                            <div class="protect-details">
                                <label class="form-check-label" for="flexCheckDefault">
                                Extended Warranty 1 Year
                        </label>
                                <span>Get brand authorised repairs with free pickup and drop. Absolutely no hidden charges! <span class="know-more"> Know More </span></span>

                                <span class="save-more">Save more than Rs 15,000 in repairs</span>
                                <div class="price-drop">
                                    <span class="new-price">399</span>
                                    <span class="old-price-protect">899 &nbsp;</span>
                                    <span class="off protect-off">&nbsp;16% Off</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="desc">
                    <div class="desc-inner">
                        <div class="desc-header">
                            <span>Description</span>
                        </div>
                        <div class="desc-details">
                            <span>Designed for both work and play, this Infinix NOTE 30 5G smartphone delivers effective performance with its striking design. Accompanied by a Dimensity 6080 5G processor with up to 16GB of RAM (8GB + 8GB) along with 256GB of storage space, an AI camera with 108MP, and a 45W all-round fast charger, this NOTE 30 5G smartphone comes with a hoard of awesome features, including ultrarapid network connectivity, enhanced performance, and flagship experience. Featuring an impressive 120 Hz FHD+ display, vlogging camera modes, and certified JBL-tuned audio, this phone can become your ideal choice with its awesome characteristics and sophisticated design.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>