<div class="main-dropdown">
    Fashion
    <div class="dropdown-content">
        <div class="sub-dropdown">

            <div class="sub-dropbtn">
                <a style="border:none !important" href="#"><Span style="font-weight: 500;">New Customer?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</Span><span style="color:#3498db">SignUp</span></a>

                <a href="#">
                    <i class="fa-solid fa-bell" style="color: #2874F0;"></i>&nbsp;
                    <span class="drpdwn-txt">Notification Prefences</span></a>
                <a href="#">
                    <i class="fa-solid fa-clipboard-question" style="color: #2874F0;"></i>&nbsp;
                    <span class="drpdwn-txt">24 x 7 Customer Support</span></a>
                <a href="#">
                    <i class="fa-solid fa-arrow-trend-up" style="color: #2874F0;"></i>&nbsp;
                    <span class="drpdwn-txt">Advertise</span></a>
                <a href="#">
                    <i class="fa-solid fa-download" style="color:#2874F0"></i>&nbsp;
                    <span class="drpdwn-txt">Download App</span></a>
            </div>
        </div>

    </div>
</div>

<div class="more">
    <div class="dropdown">
        <button class="dropbtn">More</button>
        <div class="main-dropdown">

            <div class="dropdown-content">
                <div class="sub-dropdown">

                    <div class="sub-dropbtn" style="right:22% !important">
                        <a href="#">
                            <i class="fa-solid fa-bell" style="color: #2874F0;"></i>&nbsp;
                            <span class="drpdwn-txt">Notification Prefences</span></a>
                        <a href="#">
                            <i class="fa-solid fa-clipboard-question" style="color: #2874F0;"></i>&nbsp;
                            <span class="drpdwn-txt">24 x 7 Customer Support</span></a>
                        <a href="#">
                            <i class="fa-solid fa-arrow-trend-up" style="color: #2874F0;"></i>&nbsp;
                            <span class="drpdwn-txt">Advertise</span></a>
                        <a href="#">
                            <i class="fa-solid fa-download" style="color:#2874F0"></i>&nbsp;
                            <span class="drpdwn-txt">Download App</span></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>