.mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}

.flex-container {
    margin: 25px 10px 10px;
}

.login-details {
    display: flex;
}

.login-details h1 {
    margin-bottom: 0px;
    color: #878787;
    font-size: 16px;
    font-weight: 500;
    /* margin-bottom: 6px; */
    text-transform: uppercase;
}

.login-details i {
    color: #2874F0;
    font-size: 17px;
    text-align: center;
    margin: 7px 0px 0px 12px;
}

mat-panel-description {
    position: relative;
}

.change-button {
    position: absolute;
    left: 83%;
}