<header>
    <!-- Extra Space -->
    <div class="col"></div>
    <div class="col-1"></div>
    <div class="col-8">
        <div class="flex-container">
            <div class="logo">
                <a href="#">
                    <img class="flip-logo" src="../../../assets/flipkart-logo.png" alt=""></a>
                <a href="/plus">Explore 
                    <span>Plus</span>
                    <img class="plus" src="../../../assets/Flipkart-plus.png" alt="">
                </a>
            </div>
            <div>
                <!-- Search Bar -->
                <div class="search-bar">
                    <input type="text" class="search-input" placeholder="Search for products, brands and more">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <!-- <nav>
                    <ul class="menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav> -->
            </div>
            <div class="login">
                <div class="login-button">
                    <div class="login-button-inside">
                        <div>
                            <a class="button-login-a" href="#">Login</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seller">
                <a href="#">
                    <span>Become a Seller</span>
                </a>
            </div>
            <div class="more">
                <a href="#">
                    <span>More</span>
                </a>
            </div>
            <div class="cart">
                <a href="#">
                    <i class="fa-solid fa-cart-shopping" style="color: #dbdde1;"></i>
                    <span style="margin-left: 5px;">Cart</span>
                </a>
            </div>
        </div>

    </div>
    <div class="col-2"></div>
    <div class="extra-space"></div>
    <!-- Logo -->


    <!-- Navigation Menu -->

</header>